<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <a><h2  ng-click="show()">Click to open sheet</h2></a>
    <p>
    This is the Ionic starter for tabs-based apps. For other starters and ready-made templates, check out the <a href="http://market.ionic.io/starters" target="_blank">Ionic Market</a>.
    </p>
    <p>
      To edit the content of each tab, edit the corresponding template file in <code>www/templates/</code>. This template is <code>www/templates/tab-dash.html</code>
    </p>
    <p>
    If you need help with your app, join the Ionic Community on the <a href="http://forum.ionicframework.com" target="_blank">Ionic Forum</a>. Make sure to <a href="http://twitter.com/ionicframework" target="_blank">follow us</a> on Twitter to get important updates and announcements for Ionic developers.
    </p>
    <p>
      For help sending push notifications, join the <a href="https://apps.ionic.io/signup" target="_blank">Ionic Platform</a> and check out <a href="http://docs.ionic.io/docs/push-overview" target="_blank">Ionic Push</a>. We also have other services available.
    </p>

    <input type="file" onchange="angular.element(this).scope().fileNameChanged(this)" />

    <input type="text" style="border: 1px solid black; min-width: 300px; max-width: 100%;" placeholder="enter RL" ng-model="download.url" />{{download.url}}
    <br />
    <button ng-click="submitDownload()">Download Video</button>

    <div class="download-progress">
      {{download.bytesReceived}} / {{download.bytesTotal}}
    </div>


        <button ng-click="playVideo()">Play Video</button>



  </ion-content>
</ion-view>
