<ion-view view-title="Test">
  <ion-content class="padding">

      <ion-item class="tem-remove-animate item-avatar item-icon-right" collection-repeat="item in items">
        <img ng-src="{{item.face}}">
        <h2>{{item.name}}</h2>
        <p>{{item.lastText}}</p>
      </ion-item>

  </ion-content>
</ion-view>
